html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	/*height: 100%;*/
}
.terkep {
	height: 100%;
}

.menu_container{
	width: 106%;
	height: 100%;
	background-size: 37em;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 5em;
}
.logo_container{
	width: 7em;
	height: 5em;
	background-repeat: no-repeat;
	margin: 0 auto;
}

#terkepBtn{
	width: 4em;
	height: 6em;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-bottom: 3em;
}
#utvonalBtn{
	width: 7em;
	height: 6em;
	background-repeat: no-repeat;
	margin: 0 auto;
}
#infokBtn{
	width: 9em;
	height: 6em;
	background-repeat: no-repeat;
	margin-bottom: 3em;
}
#profilBtn{
	width: 4em;
	height: 6em;
	background-repeat: no-repeat;
	margin-left: 2.5em;
}

#segitsegBtn{
	height: 6em;
	background-repeat: no-repeat;
	width: 6em;
	margin: 0 auto;
	margin-top: 3em;
}

.buttons_container{
	margin-top: 5em;
}